<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/8aaac84553.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="logo.png">
    </header>
        <div class="background">
            <form action="" method="POST" class="form">
                <h4>Devenir créateur Digi<span>Art</span></h4>
                <label for="email">Adresse Email</label>
                <br>
                <input type="email" name="email">
                <br>
                <label for="password">Mot de passe</label>
                <br>
                <input type="password" name="password">
                <br>
                <label for="artistname">Nom d'Artiste</label>
                <br>
                <input type="text" name="artistname">
                <br>
                <label for="category">Catégorie</label>
                <br>
                <input type="text" name="category">
                <br>
                <br>
                <input type="submit" value="S'inscrire" class="submit1">
            </form>
            <form action="" method="POST" class="form2">
                <h4>Devenir créateur Digi<span>Art</span></h4>
                <label for="email">Adresse Email</label>
                <br>
                <input type="email" name="email">
                <br>
                <label for="password">Mot de passe</label>
                <br>
                <input type="password" name="password">
                <br>
                <label for="artistname">Nom d'utilisateur</label>
                <br>
                <input type="text" name="username">
                <br>
                <label for="category">Date de naissance</label>
                <br>
                <input type="text" name="birthdate">
                <br>
                <br>
                <input type="submit" value="S'inscrire" class="submit">
            </form>
        </div>
    <footer>
        <ul>
            <li>Assistance</li>
            <br>
            <li>Centre d'aide</li>
            <li>Contact</li>
            <li>+33 (1) 34 56 94 23</li>
        </ul>
        <ul>
            <li>A propos</li>
            <br>
            <li>Qui sommes nous</li>
            <li>Nos valeurs</li>
            <li>Mentions légales</li>
            <li>Confidentialité</li>
            <li>condition d'utilisateur et de vente</li>
        </ul>
        <ul>
            <li>Suivez nous</li>
            <br>
            <li><i class="fab fa-instagram"></i>  Instagram</li>
            <li><i class="fab fa-facebook-f"></i>  Facebook</li>
            <li><i class="fab fa-twitter"></i>  Twitter</li>
        </ul>
        <div class="line">
            <h3>Newseletter</h3>
            <br>
            <p>Ne ratez aucun évènement DigiArt ! En evoyant votre e-mail, vous serez toujours les premiers au courant !</p>
            <form action="" method="POST" class="form3">
                <input type="email" name="email" placeholder="Email..." class="email">
                <br>
                <br>
                <input type="submit" value="Envoyer" class="submit3">
            </form>
        </div>
    </footer>
</body>
</html>